In [2]:
import pandas as pd

file_path = '../data/sample_report.csv'
df = pd.read_csv(file_path)

print(df.head())

  Student Name Question 1 Question 2 Question 3 Question 4 Question 5  \
0      Topic #    Topic 1    Topic 2    Topic 3    Topic 4    Topic 5
1    Student 1          0          1          1          1          1
2    Student 2          1          1          1          1          1
3    Student 3          1          0          1          1          0
4    Student 4          1          0          1          1          1

  Question 6 Question 7 Question 8 Question 9 Question 10
0    Topic 6    Topic 7    Topic 8    Topic 9    Topic 10
1          1          1          1          1           1
2          1          1          1          1           1
3          1          1          1          1           1
4          1          1          1          1           1

In [39]:
import pandas as pd

df_topics = pd.read_csv('../data/sample_report.csv', skiprows = 1, nrows = 1, header = None)

topics = df_topics.values.flatten().tolist()[1:]



df_data = pd.read_csv('../data/sample_report.csv',)



print(df_data)

   Student Name Question 1 Question 2 Question 3 Question 4 Question 5  \
0       Topic #    Topic 1    Topic 2    Topic 3    Topic 4    Topic 5
1     Student 1          0          1          1          1          1
2     Student 2          1          1          1          1          1
3     Student 3          1          0          1          1          0
4     Student 4          1          0          1          1          1
5     Student 5          1          0          1          1          0
6     Student 6          1          0          1          1          1
7     Student 7          1          1          1          1          1
8     Student 8          1          1          1          1          1
9     Student 9          1          1          0          1          1
10   Student 10          1          0          0          1          0
11   Student 11          1          1          0          0          0
12   Student 12          0          1          0          1          1
13   Student 13          0          0          0          1          1
14   Student 14          1          1          1          1          0
15   Student 15          1          1          0          1          0
16   Student 16          1          1          1          1          1
17   Student 17          1          1          1          1          0
18   Student 18          0          0          0          0          1
19   Student 19          0          1          1          1          1
20   Student 20          1          1          1          0          0
21   Student 21          1          1          0          1          0
22   Student 22          1          1          1          1          1
23   Student 23          1          1          1          1          1
24   Student 24          1          0          1          1          1
25   Student 25          1          0          1          1          1
26   Student 26          1          1          1          1          1
27   Student 27          1          0          1          1          1
28   Student 28          1          1          0          1          1
29   Student 29          1          1          1          1          1
30   Student 30          1          1          1          1          0

   Question 6 Question 7 Question 8 Question 9 Question 10
0     Topic 6    Topic 7    Topic 8    Topic 9    Topic 10
1           1          1          1          1           1
2           1          1          1          1           1
3           1          1          1          1           1
4           1          1          1          1           1
5           0          1          0          1           1
6           1          1          0          1           1
7           0          0          1          0           0
8           1          1          1          1           1
9           0          1          1          1           1
10          0          1          0          1           1
11          0          1          1          1           1
12          1          1          1          1           1
13          1          1          1          1           1
14          1          0          1          1           1
15          1          1          1          1           1
16          1          1          1          1           1
17          1          1          1          0           0
18          1          0          1          0           0
19          1          1          0          1           0
20          1          1          1          1           0
21          0          1          1          1           0
22          1          1          1          1           1
23          0          1          1          0           0
24          1          1          1          0           1
25          1          1          1          1           1
26          1          0          1          1           1
27          0          1          1          1           1
28          1          1          1          1           0
29          1          1          1          1           0
30          1          1          0          1           0